* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    background: url('/pictures/background.jpeg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;
}


.login-box {
    background-color: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px); 
    padding: 40px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    z-index: 1; 
    color: #333; 
}


.login-box h2 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #333;
}


.login-box label {
    font-size: 14px;
    color: #666; 
    display: block;
    text-align: left;
}


.login-box input[type="email"], .login-box input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 2px solid #6c757d; 
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #333; 
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}


.login-box input[type="email"]:focus, .login-box input[type="password"]:focus {
    border-color: #495057;
    background-color: rgba(255, 255, 255, 0.2);
    outline: none;
}


.login-box button {
    width: 100%;
    padding: 12px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 15px;
    transition: all 0.3s ease-in-out;
}


.login-box button:hover {
    background-color: #495057;
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}


.error {
    color: #ff4c4c;
    margin: 15px 0;
    font-size: 14px;
    font-weight: bold;
}


.register-link {
    margin-top: 20px;
    font-size: 14px;
}


.register-link a {
    color: #007bff; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}


.register-link a:hover {
    color: #0056b3;
    text-decoration: underline;
}


body, html {
    transition: all 0.5s ease-in-out;
}